.form {
    /*background-color:rgb(224, 224, 224);
    border:solid 1px;
    border-radius:15px;
    border-color: rgb(160, 160, 160);
    width:400px;
    height: 50px;
    gap: 0%;*/
    position:absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #333;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.form:hover > .text-bar {
    width: 240px;
    padding: 0 6px;
}

.form:hover > .search-btn {
    background-color: #fff;
    margin-left: 3px;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}